body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header, nav {
    width: 60%;
    padding: 1px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    margin-right: 2px; /* Adjust as needed */
}