{% extends "base.html" %}

{% block title %}Capytopia{% endblock %}

{% block head %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}


{% block content %}
    <h2>Embaralhar montes</h2>
    <button id="shuffle_utopia_deck">Embaralhar monte de utopia</button>
    <button id="shuffle_acao_deck">Embaralhar monte de ação</button>
    <button id="shuffle_characters">Embaralhar personagens</button>
    <h2>Reset Game</h2>
    <button id="reset_game">Reset Game</button>
    <div></div>
    <h2>Rounds count</h2>
    <div id="player1-draw-counter">
        <p>Rodadas: <span id="draw-counter">{{ counter }}</span></p>
    </div>

{% endblock %}

{% block body_scripts %}
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}