{% extends "base.html" %}

{% block title %}Capytopia{% endblock %}

{% block head %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}


{% block content %}
    <h2>Shuffle Decks</h2>
    <button id="shuffle_deck1">Shuffle Deck 1</button>
    <button id="shuffle_deck2">Shuffle Deck 2</button>
    <button id="shuffle_characters">Shuffle Characters' Deck</button>
    <h2>Reset Game</h2>
    <button id="reset_game">Reset Game</button>
    <div></div>
    <h2>Rounds count</h2>
    <div id="player1-draw-counter">
        <p>Cards Drawn: <span id="draw-counter">{{ counter }}</span></p>
    </div>

{% endblock %}

{% block body_scripts %}
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}