{% extends "base.html" %}

{% block title %}Player {{ player_id }}{% endblock %}

{% block head %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/player.css') }}">
{% endblock %}


{% block content %}
    <h1>Player {{ player_id }}</h1>
    <div class="container" data-player-id="{{ player_id }}">
        <div class="left-side">
            <button id="draw_deck1">Pescar do monte de utopia</button>
            <button id="draw_deck2">Pescar do monte de ação</button>
            <button id="draw_character">Pescar um personagem</button>

            <div>
                <div class="flex-container">
                    <h2>Seu personagem: </h2>
                    <div id="character"></div>
                </div>
            </div>

            <div class="board">
                <div class="flex-container">
                    <h2>Your Deck from Deck 1</h2>
                    <button id="shuffle_player_deck1">Shuffle Deck 1</button>
                </div>
                <div id="deck1" class="deck"></div>
            </div>

            <div class="board">
                <div class="flex-container">
                    <h2>Your Deck from Deck 2</h2>
                    <button id="shuffle_player_deck2">Shuffle Deck 2</button>
                </div>
                <div id="deck2" class="deck"></div>
            </div>
        </div>

        <div class="right-side">
            <div class="board">
                <h2>Sua Utopia</h2>
                <div id="board"></div>
            </div>

            <div class="other-player-board">
                <h2>Utopia de outros jogadores</h2>
                <div id="other_players_boards" class="other-players-boards"></div>
            </div>

            <button onclick="window.location.href='/trash'">Ver lixo</button>
        </div>
    </div>
{% endblock %}

{% block body_scripts %}
    <script src="{{ url_for('static', filename='js/player.js') }}"></script>
{% endblock %}