{% extends "base.html" %}

{% block title %}Trash Deck{% endblock %}

{% block head %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/trash.css') }}">
{% endblock %}

{% block content %}
    <h2>Trash Deck</h2>
    <div class="trash-deck">
        <button id="reset_utopia_trash_deck">Reset Utopia Trash Deck</button>
        <h3>Utopia Trash Deck</h3>
        <div id="utopia_trash_deck"></div>
    </div>
    <div class="trash-deck">
        <button id="reset_acao_trash_deck">Reset Ação Trash Deck</button>
        <h3>Ação Trash Deck</h3>
        <div id="acao_trash_deck"></div>
    </div>
{% endblock %}

{% block body_scripts %}
    <script src="{{ url_for('static', filename='js/trash.js') }}"></script>
{% endblock %}